{% extends 'base.html' %}

{% block header %}
       
    <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
{% endblock %}
{% block body %}
   <nav class="#00bfa5 teal accent-4">
            <div class="nav-wrapper">
                <a href="#" class= "brand-logo center">Paystub</a>
                <ul class="left hide-on-med-and-down">
                    <li><a id='setting' herf=''>Settings</a></li>
                    <li><a id='logout' href="./home">Log Out</a></li>
                </ul>
            </div>
    </nav>
    <div class="container"> 
    <table id='employee' class="highlight">
        <!-- for loop to loop through the employee table 
                joined be the sessions table-->
        
        <tr>
            <th>Date</th>
            <th>Time_in</th>
            <th>Time_out</th>
            <th>Total hours</th>
        </tr>
        {% for session in data %}
        <tr>
            <td>{{session.date}}</td>
            <td>{{session.time_in}}</td>
            <td>{{session.time_out}}</td>
            <td>{{session.total_hours}}</td>
        </tr>
    {% endfor %}
    </table>
    <!-- end of for loop -->
    <!-- don't allow  -->
    <div id="input_time">
    <button class="waves-effect waves-light btn"id ='import' onclick='display_timesheet()'>Insert timesheet</button>
        <table id = "input_time" class="highlight">
            <thead>
                
                <tr>
                    <th>Date</th>
                    <th>Time_in</th>
                    <th>Time_out</th>
                </tr>
            </thead>
            <tbody id='timesheet'>
            </tbody>
            
           
        </table>
        <button class="btn waves-effect waves-light" id="submit">Submit
            <i class="material-icons right">send</i>
          </button>
    </div>
    
</div>
    <script>
        document.getElementById('submit').addEventListener('click',function(){
            let td = document.getElementById('input_time')
            td.style.display = "none"
        })
    </script>
    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock %}
