{% extends 'base.html' %}


{% block header %}
    <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
    <script src= "https://ajax.google.com/ajax/libs/jquery/3.31/jquery.min.js"></script>
{% endblock %}

{% block body %}
<nav class="#00bfa5 teal accent-4">
    <div class="nav-wrapper">
        <a href="#"class="brand-logo center">{{ data.manager_name }}</a>
            <ul class="left hide-on-med-and-down">
                <li><a id='logout' href="./home">Log out</a></li>
        <!-- imprpovement to be able to import csv or exel files into table  -->
                <li><a id ='import' herf="">Import</a></li>
        <!-- improvement to have the timesheet be converted to pdf or csv -->
                <li><a id='export' herf=''>Export</a></li>
                <li><a id='setting' herf=''>Settings</a></li>
            </ul>
    </div>
    </nav>
<div class="container">
    

    <div class="divider"></div>
    <div class="selection">
        <h3>{{ data.department }}</h3>
    </div>

    <div class='employees'>
        {% for employee in data['employee'] %}
            <button class = "waves-effect waves-light btn-small"id="{{employee['employee_id']}}" onclick="get_session(this)">{{ employee['name'] }}</button>
        {% endfor %}
    </div>
    <div class='session'>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time_in</th>
                    <th>Time_out</th>
                    <th>Total_hours</th>
                </tr>
            </thead>
            <tbody id = 'sessions'>
                <!-- improve to have the employee data open seperately-->
            </tbody>
        </table>
    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>\
    
</div>


{% endblock %}




