{% extends 'base.html' %}

{% block header %}
    <h1></h1>
{% endblock %}
{% block body %}
     <!-- {% if data %}
        <h1>{{ data['name'] }}</h1>
    {% else %}
        <h1> Hello, Employee</h1>
    {% endif %} -->
    <table class='employee'>
        <!-- for loop to loop through the employee table 
                joined be the sessions table-->
        <tr>
            <th></th>
        </tr>
        <tr>
            <td></td>
        </tr>
        
    </table>
    <!-- end of for loop -->
    <a id ='import' herf="">Import</a>
    <a id='export' herf=''>Export</a>
    <a id='setting' herf=''>Settings</a>
{% endblock %}
