{% extends 'base.html' %}

{% block header %}
    <h1>Paystub</h1>
    <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
{% endblock %}
{% block body %}
     <!-- {% if data %}
        <h1>{{ data['name'] }}</h1>
    {% else %}
        <h1> Hello, Employee</h1>
    {% endif %} -->
    <table class='employee'>
        <!-- for loop to loop through the employee table 
                joined be the sessions table-->
        
        <tr>
            <th>Date</th>
            <th>Time_in</th>
            <th>Time_out</th>
            <th>Total hours</th>
        </tr>
        {% for session in data %}
        <tr>
            <td>{{session.date}}</td>
            <td>{{session.time_in}}</td>
            <td>{{session.time_out}}</td>
            <td>{{session.total_hours}}</td>
        </tr>
    {% endfor %}
    </table>
    <!-- end of for loop -->
    <button id ='import' onclick='display_timesheet()'>Insert timesheet</button>
    <div class="input_time">
        <table>
            <thead>
                <input type="submit" value="+" id="submit">
                <tr>
                    <th>Date</th>
                    <th>Time_in</th>
                    <th>Time_out</th>
                </tr>
            </thead>
            <tbody id='timesheet'>
                
            </tbody>
           
        </table>
        
    </div>
    <br>
    <a id='export' herf=''>Export</a>
    <br>
    <a id='setting' herf=''>Settings</a>
    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock %}
