{% extends 'base.html' %}

{% block header %}
    <h1>Log In</h1>
{% endblock %}

{% block body %}
    <!-- {% if data %}
        <h1>{{ data['name'] }}</h1>
    {% else %}
        <h1> Hello, World</h1>
    {% endif %} -->
    <div class="content">
        <form>
            <label for='username'>Username:</label>
            <input type='text' name="username" id='username'>
            <br>
            <label for='password'>Password:</label>
            <input type='password' name='password' id='password'>
            <br>
            <input type='submit' value='Login'>
        </form>
        <a id ="signin" href="signin.html"> Sign Up</a>
        <a id = "fp" href=""> Forgot password</a>
        <a id = "fu" href=""> Forgot username</a>
    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock %}