{% extends 'base.html' %}


{% block header %}
    <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
{% endblock %}

{% block body %}
   <h1>{{ data.manager_name }}</h1>
   <h3>{{ data.department }}</h3>

    <div class='employees'>
        {% for employee in data['employee'] %}
            <button id="{{employee['employee_id']}}" onclick="get_session(this)">{{ employee['name'] }}</button>
        {% endfor %}
    </div>
    <div class='sessions'>

    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
    <a id ='import' herf="">Import</a>
    <a id='export' herf=''>Export</a>
    <a id='setting' herf=''>Settings</a>


{% endblock %}




