{% extends 'base.html' %}


{% block header %}
    <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
    <script src= "https://ajax.google.com/ajax/libs/jquery/3.31/jquery.min.js"></script>
{% endblock %}

{% block body %}
   <h1>{{ data.manager_name }}</h1>
   <h3>{{ data.department }}</h3>

    <div class='employees'>
        {% for employee in data['employee'] %}
            <button id="{{employee['employee_id']}}" onclick="get_session(this)">{{ employee['name'] }}</button>
        {% endfor %}
    </div>
    <div class='sessions'>

    </div>
    <div class='session'>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time_in</th>
                    <th>Time_out</th>
                    <th>Total_hours</th>
                </tr>
            </thead>
            <tbody id = 'sessions'>
                <!-- how to insert data from javascript? into html table-->
            </tbody>
        </table>
    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
    <a id ='import' herf="">Import</a>
    <a id='export' herf=''>Export</a>
    <a id='setting' herf=''>Settings</a>


{% endblock %}




