{% entends 'base.html' %}

{% block header %}
    <h1>{% block title %}PayRoll{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('table.create)">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for entry in entries %}
        <article class='entry'>
            <header>
                <div>
                    <h1>{{entry['client_name'}}</h1>
                    <div class="session">session done by: {{entry['employee_name']}} on {{ entry['session_time'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == entry['employee_id'] %}
                    <a class='action' href="url_for('table.update',id=entry['id']) }}">Edit</a>
                {% endif %}
            </header>
            <p class = "pay">this weeks payroll for {{ entry['employee_name'] }} is {{entry['payment'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endblock %}
{% endblock %}

