{% extends 'base.html' %}

{% block hearder %}
    <h1>{% block title %} New Entry {% endblock %</h1>
{% endblock %}

{% blcok content %}
        <form method='post'>
            <label for='client_name'>Client Name</label>
            <input name='client_name' id='client' value="{{ request.form['client_name'] }}" required>
            <label for='employee_name'>Employee Name</label>
            <input name='employee_name' id='employee' value="{{ request.form['employee_name'] }}" required>
            <label for='session'>Session Time</label>
            <input type='time' name='session' value="{{ request.form['session_time'] }}">
            <input type="submit" value="Save">
        </form>
{% endblock %}